.card-login-header:first-child {
  border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}
.card-login-header {
  position: relative;
  padding: 2rem 2rem;
  border-bottom: none;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}

.card-login-layout {
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  box-shadow: 0 0.8rem 2rem rgb(0 0 0 / 35%);
  border-radius: 1rem;
  padding: 2rem;
}

.bg-gray-100 {
  background-color: #f8f9fa !important;
}
body {
  font-family: "Poppins" !important;
}
.text-primary {
  color: #4650dd !important;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 700;
  line-height: 1.2;
}
.text-muted {
  color: #6c757d !important;
}
.lead {
  font-size: 1.125rem;
  font-weight: 300;
}
.text-sm {
  font-size: 0.7875rem !important;
}
h3,
.h3 {
  font-size: 1.575rem;
}

a {
  color: #4650dd !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.cursorpointer {
  cursor: pointer;
}
