@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&amp;display=swap");

.navbar-bg {
  background-color: #1c1536 !important;
}

.btn-outline-navbar {
  color: white;
  font-weight: bold;
  border-color: white;

  &:hover {
    color: white;
    background-color: #8c78d2;
    border-color:#8c78d2;
  }
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

.myBackground {
  background: linear-gradient(
    120deg,
    rgb(101, 159, 229) 10%,
    rgb(56, 85, 143) 100%
  );
}
.card-login {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: none;
}

.cont-left-side {
  border-right: 3px solid rgba(233, 233, 233);
}

.page-holder {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  min-height: calc(100vh - 72px);
  flex-wrap: wrap;
}
