<div class="card-table table-responsive">
    <table class="table custom-table">
        <thead>
            <tr>
                <th scope="col">
                    <label class="control control--checkbox">
                        <input type="checkbox" class="js-check-all" />
                        <div class="control__indicator"></div>
                    </label>
                </th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Phone</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">
                    <label class="control control--checkbox">
                        <input type="checkbox" />
                        <div class="control__indicator"></div>
                    </label>
                </td>
                <td>
                    1392
                </td>
                <td>Sales Pitch - 2019</td>
                <td>
                    Far far away, behind the word mountains
                    <small class="d-block">Far far away, behind the word mountains</small>
                </td>
                <td>+63 983 0962 971</td>
                <td>
asdasd
                </td>
            </tr>
        </tbody>
    </table>
</div>