.card-table {
    min-width: 100%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    box-shadow: 0 0.8rem 2rem rgb(0 0 0 / 35%);
    border-radius: 1rem;
    padding: 2rem;
  }

